{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}
<script>
function validateLancement()
{

    document.location.href="/jouer/creer/"+document.querySelector('input[name=idAventure]:checked').value+"/"+document.querySelector('input[name=idPersonnage]:checked').value;
}
</script>
<div class="fondBeige">

    <h1>Salutation aventurier</h1>
    <p>les personnages jouables</p>
    <div class="shadow-lg p-3 mb-5 bg-body rounded" >
     {% if personnagesJouables|length > 0 %}
    {% for personnage in personnagesJouables %}
    <img class="avatar_small" src="{{asset('avatars/' ~ personnage.image.filename)}}"/>
        <p class="li_personnage">
        <input type="radio" value="{{personnage.id}}" id="idPersonnage{{personnage.id}}" name="idPersonnage">
        <label for="idPersonnage{{personnage.id}}" >{{personnage.prenom}} {{personnage.nom}}</label>
        
        </p>
        {% endfor %}
    
    {% endif %}
     <p><a class="lien" href="{{path('creer_perso')}}">Créer un personnage</a></p>
    </div>
     
    <p>Voici la liste des aventures jouables</p>
    <div class="shadow-lg p-3 mb-5 bg-body rounded" >
    {% if aventuresJouables|length > 0 %}
    {% for aventure in aventuresJouables %}
         <p class="li_personnage"><input type="radio" value="{{aventure.id}}"  id="idAventure" name="idAventure">{{aventure.titre}}</p>
        {% endfor %}
            {% else %}
        <p>Il n'y a pas d'aventures disponibles !</p>
    {% endif %}
    </div>
        <button onclick="validateLancement();" class="bouton" >JOUER</button>
</div>
{% endblock %}
