{% extends 'base.html.twig' %}

{% block title %}Aventure index{% endblock %}

{% block body %}
    <h1>Aventure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Difficultee</th>
                <th>Introduction</th>
                <th>Conclusion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aventure in aventures %}
            <tr>
                <td>{{ aventure.id }}</td>
                <td>{{ aventure.titre }}</td>
                <td>{{ aventure.description }}</td>
                <td>{{ aventure.difficultee }}</td>
                <td>{{ aventure.introduction }}</td>
                <td>{{ aventure.conclusion }}</td>
                <td>
                    <a href="{{ path('app_aventure_show', {'id': aventure.id}) }}">show</a>
                    <a href="{{ path('app_aventure_edit', {'id': aventure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_aventure_new') }}">Create new</a>
{% endblock %}
