{% extends 'base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <h1>Personnage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnage.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personnage.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personnage.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_personnage_index') }}">back to list</a>

    <a href="{{ path('app_personnage_edit', {'id': personnage.id}) }}">edit</a>

    {{ include('personnage/_delete_form.html.twig') }}
{% endblock %}
